[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"
pylint = "*"
pydocstyle = "*"

[packages]
cowpy = "*"
httpie = "*"

[requires]
python_version = "3.7"
